﻿@model registroEstudiantes.Models.Estudiantes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estudiantes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdMateriaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdMateriaNavigation.IdMateria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEstudiante">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
